body {
  background-color: #1B1B1E;
  color: #828282;
  margin: 0;
}
/*
.highlight {
  padding: 6px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  display: inline-block; 
}
*/
.home-wrapper {
  margin: auto;
  max-width: 300px;
}

.home-wrapper-inner li {
  display: inline;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin-right: 5px;
}

.home-wrapper-inner a {
  text-decoration: none;
  color: #828282;
}

.home-wrapper-inner a:hover {
  color: #fff;
}

.home-wrapper-inner {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.social-container {
  display: flex;
  justify-content: space-around;
}

.fa-linkedin-square:hover {
  color: #0178B1;
}

.fa-code-fork:hover {
  color: #85B45A;
}

.fa-rss:hover {
  color: #fc9a04;
}

.fa-envelope:hover {
  color: #fff;
} 

.white-icon {
  color: #828282;
  padding-right: 10px;
}

.user-image {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 100%;
}

header {
  background-color: #212225;
  padding-top: 30px;
  padding-bottom: 10px;
}

.container {
  margin: auto;
  max-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
}

.posts a {
  color: #007bff;
  text-decoration: none; 
}

.posts p {
  color: #afb0b1;
}

.post-title {
  color: #007bff;
}

.post-content p {
  color: #afb0b1;
}

li {
  list-style-type:none;
}

footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar a {
  color: #828282;
  text-decoration: none;  
}

.navbar a:hover {
  color: #fff;
}

/*.current {
  color: green;
}*/

